*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}


.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "i r";
}

.inputBox {
    grid-area: i;
    text-align: center;
    margin: 10px;
}

.renderBox {
    grid-area: r;
    background-color: aquamarine;
}
