*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body 
{
    min-height: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}


.mainContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        's r';
}


.sidebar {
    grid-area: s;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'i'
        'c';
}

.inputBox {
    grid-area: i;
    text-align: center;
    margin: 15px;
}

.codeOutput {
    grid-area: c;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        't'
        'b';
}

.container {
    grid-area: r;
    background-color: aquamarine;
}

.renderGridArea {
    width: 120px;
    height: fit-content;                
}

.codeOutputArea {
    width: 100%;
    height: 99.5%;
    margin: 0px;
    padding: 0px;
}

.title {
    grid-area: t;
}

.box {
    grid-area: b;
}

.row, .col {
    width: 100px;
}

p {
    text-align: center;
}
